@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  @apply scroll-smooth;
}

.cabecalho {
    @apply flex flex-col md:flex-row justify-center md:justify-around bg-customGreen text-white items-center text-base md:text-lg lg:text-2xl p-4 md:p-4;

    & .logo{
        @apply text-xl md:text-3xl font-serif italic font-bold;
    }
    & .menu{
        @apply flex flex-col md:flex-row items-center;
    
        & li{
            @apply p-2 md:p-4;
        }
    }
}

.servicos {
    @apply bg-customGreen flex flex-col md:flex-row justify-center md:justify-around items-center p-4;

    & .titulo{
        @apply text-2xl md:text-4xl font-bold text-white md:p-4 text-center md:text-right;
    }

    & .paragrafo{
        @apply text-xl md:text-2xl text-white md:p-4 w-80 md:w-[100%] text-center md:text-right;
    }
}

.sobre{
    @apply w-80 md:w-[90%] m-auto;

    & .solucoes{
        @apply text-center p-4 font-bold text-customGreen underline decoration-4 underline-offset-4  mt-[3em];
    }

    & .titulo2{
        @apply text-4xl md:text-6xl text-center font-bold text-customGreen md:text-left mt-4 mr-4 mb-4;

        & span{
            @apply text-customGreenLight;
        }
    }

    & .paragrafo {
        @apply text-lg md:text-2xl text-center md:text-left pt-2 pb-2;
    }

    .microrredes {
        @apply flex flex-row m-auto items-start justify-between;
        flex-wrap: wrap; /* Permite que a imagem do painel e a lista se ajustem em diferentes tamanhos de tela */
    }
    
    .microrredes img {
        max-width: 100%;
    }
    
    .microrredes ul {
        @apply flex flex-col gap-3 md:ml-8; /* Espaçamento à esquerda para o texto */
        max-width: 500px; /* Limita o tamanho máximo da lista para que ela não se estique demais */
    }
    
    .microrredes ul li {
        @apply flex flex-row items-center; /* Alinha imagem de check e texto horizontalmente */
        gap: 1rem; /* Espaço entre a imagem e o texto */
    }
    
    .microrredes ul li img {
        width: 30px; /* Tamanho fixo para a imagem de check */
        height: 30px; /* Tamanho fixo */
    }
}
.cards {
    @apply bg-customGreen flex flex-col md:flex-row items-center justify-center h-[1200px] md:h-[400px] mt-[3em];

    & .card {
        @apply w-[250px] h-[300px] m-auto p-4 bg-white rounded-md shadow-md flex flex-col items-center;

        & .paragrafo {
            @apply m-auto text-xl;
        }
    }
}

.simular {
    @apply w-[80%] bg-customGreenLight rounded-2xl m-auto mt-[3em] p-4 flex flex-col lg:flex-row flex-auto justify-around items-center mb-[3em];

    & .conteudo {
        @apply lg:w-1/2 w-full text-white flex flex-col;
        
        & h1{
            @apply text-xl lg:text-3xl font-bold p-2;
        }

        & p{
            @apply text-xl p-2;
        }

        & .cadastro-btn{
            @apply p-4 bg-customGreen rounded-xl font-bold md:w-1/2 mb-4;
        }
    }

}

.container-login{
    @apply flex flex-col-reverse lg:flex-row flex-auto;

    & .info-login{
        @apply bg-customGreen text-white h-[60vh] lg:w-1/2 flex flex-col items-center justify-center;

        & h1{
            @apply text-4xl md:text-5xl font-bold p-4;
        }

        & p{
            @apply w-40 md:w-[40%] text-center p-4;
        }

        & .cadastro-btn{
            @apply px-4 py-2 bg-customGreenLight rounded-xl font-bold;
        }
    }

    & .form-login{
        @apply bg-white text-white flex flex-col items-center justify-center m-auto;

        & h1{
            @apply text-5xl font-bold p-4 text-customGreen;
        }

        & form{
            @apply flex flex-col justify-center;
        }
        input {
            @apply w-full px-3 py-2 m-2 border rounded-md bg-gray-300 text-black;
        }

        & .submit-btn {
            @apply px-8 py-2 bg-customGreen rounded-xl font-bold text-center m-auto mb-4;
        }
    }
}

.container-cadastro{
    @apply flex flex-col lg:flex-row flex-auto;

    & .info-login{
        @apply bg-customGreen h-[60vh] lg:w-1/2 text-white flex flex-col items-center justify-center;

        & h1{
            @apply text-4xl md:text-5xl font-bold p-4 text-center;
        }

        & p{
            @apply w-40 md:w-80 text-center p-4;
        }

        & .cadastro-btn{
            @apply px-4 py-2 bg-customGreenLight rounded-xl font-bold mb-4;
        }
    }

    & .form-login{
        @apply bg-white text-white flex flex-col items-center justify-center m-auto;

        & h1{
            @apply text-4xl md:text-5xl font-bold p-4 text-customGreen;
        }

        & form{
            @apply flex flex-col justify-center;
        }
        input {
            @apply w-40 md:w-full px-2 py-2 m-2 border rounded-md bg-gray-300 text-black;
        }

        & .submit-btn {
            @apply px-8 py-2 bg-customGreen rounded-xl font-bold text-center m-auto;
        }
    }
}

.container-cadastropage{
    @apply flex flex-auto my-24 items-center justify-center;

    & .fundo{
        @apply bg-customGreen w-11/12 lg:w-7/12 flex flex-col m-auto items-center justify-center text-white rounded-2xl;

        & h1{
            @apply text-4xl font-bold p-4;
        }

        & p{
            @apply text-xl p-2 text-center
        }
        & .botao{
            @apply p-3 m-2 bg-customGreenLight rounded-2xl hover:border-4 hover:border-emerald-500 xl:text-xl mt-8;
        }
    }
}
.main-comunidade{
    @apply bg-customGreen p-4;

    & .titulo{
        @apply text-4xl font-bold p-4 text-white text-center flex flex-col md:flex-row items-center justify-center;

        & span{
            @apply rounded-full bg-gray-200 text-black flex justify-center items-center p-4 w-12 h-12 m-2;
        }
    }
}

.main-unidades{
    @apply bg-customGreen p-4;

    & .titulo{
        @apply text-4xl font-bold p-4 text-white text-center flex flex-col md:flex-row items-center justify-center;

        & span{
            @apply rounded-full bg-gray-200 text-black flex justify-center items-center p-4 w-12 h-12 m-2;
        }
    }
}
.container-comunidade{
    @apply flex flex-col md:flex-row bg-customGreen;

    & .info-comunidade{
        @apply flex flex-col items-center;

        & h1{
            @apply text-white text-center md:text-left text-3xl font-bold w-80;
        }
    }

    & .form-comunidade{
        @apply flex flex-col m-auto bg-white h-full rounded-3xl;

        & h1{
            @apply bg-customGreenLight rounded-t-3xl text-center text-xl text-white p-2;
        }
        & form{
            @apply flex flex-col justify-center items-center p-2;
        }
        & input{
            @apply w-60 px-3 py-2 m-2 border rounded-lg bg-gray-300;
        }
        & .submit-btn {
            @apply px-8 py-2 bg-customGreenLight rounded-xl font-bold text-center m-auto;
        }
    }
}

.container-edit{
    @apply bg-customGreen p-4;

    & .form-edit{
        @apply flex flex-col m-auto bg-white w-80 h-full rounded-3xl;

        & h1{
            @apply bg-customGreenLight m-auto w-full rounded-t-3xl text-center text-xl text-white p-4;
        }
        & form{
            @apply flex flex-col justify-center items-center p-2;
        }
        & label{
            @apply w-8 h-8;
        }
        & input{
            @apply w-60 px-3 py-2 m-4 border rounded-lg bg-gray-300;
        }
        & .opcao{
            @apply flex flex-row justify-start items-center w-6 ml-6;
        }
        & .submit-btn {
            @apply px-8 py-2 bg-customGreenLight rounded-xl font-bold text-center m-auto;
        }
    }
}

.container-unidade{
    @apply flex flex-col md:flex-row bg-customGreen;

    & .info-unidade{
        @apply flex flex-col w-80 m-auto items-center;

        & h1{
            @apply text-white text-3xl font-bold w-full;
        }
    }

    & .form-unidades{
        @apply flex flex-col m-auto bg-white w-80 h-full rounded-3xl;

        & h1{
            @apply bg-customGreenLight rounded-t-3xl text-center text-xl text-white p-2;
        }
        & form{
            @apply flex flex-col justify-center items-center p-2;
        }
        & label{
            @apply text-gray-600 text-lg m-2;
        }
        & input{
            @apply w-[90%] px-3 py-2 m-2 border rounded-lg bg-gray-300;
        }
        & .submit-btn {
            @apply px-8 py-2 bg-customGreenLight rounded-xl font-bold text-center m-auto;
        }
    }
}

.container-comercio{
    @apply flex flex-col bg-white items-center justify-center p-4;

    & .titulo{
        @apply text-center;
    }

    & .form-comercio{
        @apply flex flex-col m-auto bg-customGreenLight rounded-3xl mb-4;

        & h1{
            @apply bg-customGreenLight rounded-t-3xl text-center text-xl text-white p-2;
        }
        & h2{
            @apply text-white text-center p-4 font-bold text-xl;
        }
        & form{
            @apply flex flex-col justify-center items-center p-2;
        }
        & label{
            @apply text-white text-lg m-2 text-wrap flex w-11/12;
        }
        & input{
            @apply w-60 px-3 py-2 m-2 border rounded-lg bg-gray-300;
        }
        & .submit-btn {
            @apply px-8 py-2 bg-customGreenLight rounded-xl font-bold text-center m-auto;
        }
        & .submit-btn{
            @apply text-white;
        }
    }
}

.container-armazenamento {
    @apply flex flex-col bg-white items-center justify-center p-4;

    & .titulo {
        @apply text-center text-2xl md:text-3xl;
    }

    & .form-armazenamento {
        @apply flex flex-col w-11/12 md:w-7/12 lg:w-4/12 xl:w-3/12 bg-customGreenLight rounded-3xl;

        & h1 {
            @apply bg-customGreenLight text-center text-xl text-white p-2;
        }
        & h2 {
            @apply text-white w-80 text-center p-4 font-bold text-xl;
        }
        & form {
            @apply flex flex-col justify-center items-center p-2;
        }
        & label {
            @apply text-white text-lg m-2 text-wrap flex;
        }
        & input {
            @apply px-3 py-2 m-2 border rounded-lg bg-gray-300;
        }
        & .radio-group {
            @apply flex justify-center items-center space-x-4;
        }
        & .submit-btn {
            @apply px-8 py-2 bg-customGreenLight rounded-xl font-bold text-center m-auto;
        }
        & .submit-btn {
            @apply text-white;
        }
        & fieldset {
            @apply text-white w-80 text-center p-4 font-bold text-xl;
        }
    }
}


.integrantes{
    @apply w-[80%] m-auto mb-[3em] rounded-2xl p-4 bg-gray-200;

    & .cards {
        @apply bg-gray-200 flex flex-col md:flex-row items-center justify-center m-auto;
    
        & .card {
            @apply w-[300px] h-[400px] m-auto bg-white rounded-3xl shadow-md flex flex-col items-center justify-center;
            
            & .infos{
                @apply flex flex-col md:flex-row m-auto justify-between;


            }
        }
    }
}

.rodape{
    @apply bg-customGreen flex flex-auto items-center justify-around py-6 lg:mt-32;
    
    & ul{
        @apply text-white text-lg font-bold flex flex-col md:flex-row;
    }
}
.info_integrantes{
    @apply text-center p-4 font-bold text-customGreen underline decoration-4 underline-offset-4  mt-[3em];
}
.integrantes-section {
    @apply flex flex-col items-center w-full mt-16;

    
}

.titulo {
    @apply text-4xl text-customGreen font-medium m-12;
    @apply md:text-5xl lg:text-6xl;
}

.integrantes-container__integrantes{
    @apply flex flex-col md:flex-row mb-12 items-center gap-[0.5em] lg:gap-[1.5em] xl:gap-[9em] md:flex-wrap md:justify-evenly 
}

.integrantes-container {
    @apply flex flex-col gap-[0.5em] mb-12 items-center;
    @apply md:justify-evenly md:flex-wrap md:w-auto;
    @apply lg:gap-[1.5em] xl:gap-[9em];
}

.integrante {
    @apply mt-2.5 bg-transparent border border-[#696969] rounded-2xl p-6;
    @apply md:max-w-[40.3%];
}


.nome, .rm, .curso {
    @apply text-lg text-black mt-1.5 ml-1.5 font-normal;
    @apply md:max-w-56;
}

.github-link {
    @apply md:flex md:max-w-56;
}

.github-icon {
    @apply w-16 mt-1.5 ml-2.5;
}

.text-footer {
    @apply text-white font-bold text-lg text-center w-full p-6;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


