@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  @apply scroll-smooth;
}

.cabecalho {
    @apply flex flex-col md:flex-row justify-center md:justify-around bg-customGreen text-white items-center text-lg md:text-2xl md:p-4;

    & .logo{
        @apply text-xl md:text-3xl font-serif italic font-bold;
    }
    & .menu{
        @apply flex flex-col md:flex-row items-center;
    
        & li{
            @apply p-2 md:p-4;
        }
    }
}

.servicos {
    @apply bg-customGreen flex flex-auto justify-around items-center;

    & .titulo{
        @apply w-[90%] text-2xl md:text-4xl font-bold text-white md:p-4 text-right;
    }

    & .paragrafo{
        @apply text-xl md:text-2xl text-white md:p-4 w-[100%] text-right;
    }
}

.sobre{
    @apply w-[90%] m-auto;

    & .solucoes{
        @apply text-center p-4 font-bold text-customGreen underline decoration-4 underline-offset-4  mt-[3em];
    }

    & .titulo2{
        @apply text-6xl font-bold text-customGreen text-left mt-4 mr-4 mb-4;

        & span{
            @apply text-customGreenLight;
        }
    }

    & .paragrafo {
        @apply text-xl md:text-2xl pt-2 pb-2;
    }

    .microrredes {
        @apply flex flex-row m-auto items-start justify-between;
        flex-wrap: wrap; /* Permite que a imagem do painel e a lista se ajustem em diferentes tamanhos de tela */
    }
    
    .microrredes img {
        max-width: 100%;
    }
    
    .microrredes ul {
        @apply flex flex-col gap-3 ml-8; /* Espaçamento à esquerda para o texto */
        max-width: 500px; /* Limita o tamanho máximo da lista para que ela não se estique demais */
    }
    
    .microrredes ul li {
        @apply flex flex-row items-center; /* Alinha imagem de check e texto horizontalmente */
        gap: 1rem; /* Espaço entre a imagem e o texto */
    }
    
    .microrredes ul li img {
        width: 30px; /* Tamanho fixo para a imagem de check */
        height: 30px; /* Tamanho fixo */
    }
}
.cards {
    @apply bg-customGreen flex flex-col md:flex-row items-center justify-center h-[1200px] md:h-[400px] mt-[3em];

    & .card {
        @apply w-[250px] h-[300px] m-auto p-4 bg-white rounded-md shadow-md flex flex-col items-center;

        & .paragrafo {
            @apply m-auto text-xl;
        }
    }
}

.simular {
    @apply w-[80%] bg-customGreenLight rounded-2xl m-auto mt-[3em] p-4 flex flex-auto justify-around items-center mb-[3em];

    & .conteudo {
        @apply w-[50%] text-white;
        
        & h1{
            @apply text-3xl font-bold p-2;
        }

        & p{
            @apply text-xl p-2;
        }

        & .cadastro-btn{
            @apply p-4 bg-customGreen rounded-xl font-bold;
        }
    }

}

.container-login{
    @apply flex flex-auto;

    & .info-login{
        @apply bg-customGreen text-white h-[60vh] w-[50%] flex flex-col items-center justify-center;

        & h1{
            @apply text-5xl font-bold p-4;
        }

        & p{
            @apply w-[40%] text-center p-4;
        }

        & .cadastro-btn{
            @apply px-4 py-2 bg-customGreenLight rounded-xl font-bold;
        }
    }

    & .form-login{
        @apply bg-white text-white h-[60vh] w-[50%] flex flex-col items-center justify-center;

        & h1{
            @apply text-5xl font-bold p-4 text-customGreen;
        }

        & form{
            @apply flex flex-col justify-center;
        }
        input {
            @apply w-full px-3 py-2 m-2 border rounded-md bg-gray-300 text-black;
        }

        & .submit-btn {
            @apply px-8 py-2 bg-customGreen rounded-xl font-bold text-center m-auto;
        }
    }
}

.container-cadastro{
    @apply flex flex-auto;

    & .info-login{
        @apply bg-customGreen text-white h-[60vh] w-[50%] flex flex-col items-center justify-center;

        & h1{
            @apply text-5xl font-bold p-4;
        }

        & p{
            @apply w-[40%] text-center p-4;
        }

        & .cadastro-btn{
            @apply px-4 py-2 bg-customGreenLight rounded-xl font-bold;
        }
    }

    & .form-login{
        @apply bg-white text-white h-[60vh] w-[50%] flex flex-col items-center justify-center;

        & h1{
            @apply text-5xl font-bold p-4 text-customGreen;
        }

        & form{
            @apply flex flex-col justify-center;
        }
        input {
            @apply w-full px-3 py-2 m-2 border rounded-md bg-gray-300;
        }

        & .submit-btn {
            @apply px-8 py-2 bg-customGreen rounded-xl font-bold text-center m-auto;
        }
    }
}

.container-cadastropage{
    @apply w-[80%] h-[60vh] flex flex-auto m-auto items-center justify-center;

    & .fundo{
        @apply bg-customGreen w-[40vw] h-[50vh]  flex flex-col m-auto items-center justify-center text-white rounded-2xl;

        & h1{
            @apply text-4xl font-bold p-4;
        }

        & p{
            @apply text-xl p-2
        }
        & .botao{
            @apply p-3 m-2 bg-customGreenLight rounded-2xl hover:border-4 hover:border-emerald-500;
        }
    }
}
.main-comunidade{
    @apply bg-customGreen;

    & .titulo{
        @apply text-4xl font-bold p-4 text-white text-center flex flex-col md:flex-row items-center justify-center;

        & span{
            @apply rounded-full bg-gray-200 text-black flex justify-center items-center p-4 w-12 h-12 m-2;
        }
    }
}

.main-unidades{
    @apply bg-customGreen;

    & .titulo{
        @apply text-4xl font-bold p-4 text-white text-center flex flex-col md:flex-row items-center justify-center;

        & span{
            @apply rounded-full bg-gray-200 text-black flex justify-center items-center p-4 w-12 h-12 m-2;
        }
    }
}
.container-comunidade{
    @apply flex flex-col md:flex-row bg-customGreen;

    & .info-comunidade{
        @apply flex flex-col w-80 m-auto items-center;

        & h1{
            @apply text-white text-3xl font-bold w-80;
        }
    }

    & .form-comunidade{
        @apply flex flex-col m-auto bg-white w-80 h-full rounded-3xl;

        & h1{
            @apply bg-customGreenLight rounded-t-3xl text-center text-xl text-white p-2;
        }
        & form{
            @apply flex flex-col justify-center items-center p-2;
        }
        & input{
            @apply w-60 px-3 py-2 m-2 border rounded-lg bg-gray-300;
        }
        & .submit-btn {
            @apply px-8 py-2 bg-customGreenLight rounded-xl font-bold text-center m-auto;
        }
    }
}

.container-unidade{
    @apply flex flex-col md:flex-row bg-customGreen;

    & .info-unidade{
        @apply flex flex-col w-80 m-auto items-center;

        & h1{
            @apply text-white text-3xl font-bold w-full;
        }
    }

    & .form-unidades{
        @apply flex flex-col m-auto bg-white w-80 h-full rounded-3xl;

        & h1{
            @apply bg-customGreenLight rounded-t-3xl text-center text-xl text-white p-2;
        }
        & form{
            @apply flex flex-col justify-center items-center p-2;
        }
        & label{
            @apply text-gray-600 text-lg m-2;
        }
        & input{
            @apply w-60 px-3 py-2 m-2 border rounded-lg bg-gray-300;
        }
        & .submit-btn {
            @apply px-8 py-2 bg-customGreenLight rounded-xl font-bold text-center m-auto;
        }
    }
}

.integrantes{
    @apply w-[80%] m-auto mb-[3em] rounded-2xl p-4 bg-gray-200;

    & .cards {
        @apply bg-gray-200 flex flex-col md:flex-row items-center justify-center m-auto;
    
        & .card {
            @apply w-[300px] h-[400px] m-auto bg-white rounded-3xl shadow-md flex flex-col items-center justify-center;
            
            & .infos{
                @apply flex flex-col md:flex-row m-auto justify-between;


            }
        }
    }
}

.rodape{
    @apply bg-customGreen h-[200px] flex flex-auto items-center justify-around;
    
    & ul{
        @apply text-white text-lg font-bold flex flex-col  md:flex-row;
    }
}
.info_integrantes{
    @apply text-center p-4 font-bold text-customGreen underline decoration-4 underline-offset-4  mt-[3em];
}
.integrantes-section {
    @apply flex flex-col items-center w-full mt-16;

    
}

.titulo {
    @apply text-4xl text-customGreen font-medium m-12;
    @apply md:text-5xl lg:text-6xl;
}

.integrantes-container {
    @apply flex flex-col gap-[0.5em] mb-12 w-11/12 items-center;
    @apply md:justify-evenly md:flex-row md:flex-wrap md:w-auto;
    @apply lg:gap-[1.5em] xl:gap-[9em];
}

.integrante {
    @apply mt-2.5 bg-transparent border border-[#696969] rounded-2xl p-6;
    @apply md:max-w-[40.3%];
}


.nome, .rm, .curso {
    @apply text-lg text-black mt-1.5 ml-1.5 font-normal;
    @apply md:max-w-56;
}

.github-link {
    @apply md:flex md:max-w-56;
}

.github-icon {
    @apply w-16 mt-1.5 ml-2.5;
}
.rodape {
    @apply bg-customGreen h-[200px] flex items-center justify-center p-4;
}

.text-footer {
    @apply text-white font-bold text-xl ml-4 w-full max-w-[350px];
}









